@import './styles/variables.module';
@import './styles/mixins';
@import './styles/mediaQueryMixins';

.commandPromptContainer {
  height: 80px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px #000000;
  background-color: $primary-color-dark-accent-1;
  width: 100%;
  cursor: text;
  margin-top: 30px;
  position: relative;
  padding: 10px 20px;
  @include flexCentered;

  @include for-phone-only {
    height: 40px;
  }

  @include for-tablet-portrait-up {
    height: 60px
  }

  .commandPromptInput {
    border: none;
    background-color: transparent;
    height: 100%;
    margin-left: 8px;
    flex: 1;
    font-size: 2.4vw;
    font-family: 'Source Code Pro', monospace;
    outline: none;
    padding-bottom: 4px;

    @include for-phone-only {
      font-size: 12px;
      margin-left: 4px;
      padding-bottom: 2px;
    }

    @include for-tablet-landscape-up {
      font-size: 20px;
    }

    ::placeholder {
      color: $primary-placeholder-text-color-dark-background;
    }
  }
}
