@import './styles/mixins';
@import './styles/variables.module';
@import './styles/mediaQueryMixins';

.container {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  @include flexColumnCentered;

  .titleAndCommandPromptContainer {
    @include flexColumnCentered;
  }

  .titleTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    .welcomeMessage {
      font-size: 3vw;
      color: $primary-text-color-dark-background;
      margin: 0;
      padding: 20px 0;
      font-family: 'Merriweather', serif;

      @include for-tablet-portrait-up {
        font-size: 20px;
      }
    }

    .titleText {
      font-size: 10vw;
      color: $primary-text-color-dark-background;
      margin: 0;
      padding: 0;
      font-family: 'Merriweather Sans', sans-serif;

      @include for-tablet-landscape-up {
        font-size: 90px;
      }
    }
  }
}

